.login{
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 20vh 5vh 40vh 15vh;
}

.login__title{
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column-reverse;
}

.login__form{
  grid-column-start: 2;
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
}

.login__form__button{
  padding: 2rem;
}

.login__form__label{
  color: #777;
}

.login__form__input{
  margin: 3rem 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #777;
}

.login__registerBtn{
  grid-column-start: 2;
  grid-row-start: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login__registerBtn__h2{
  font-size: 1.4rem;
  color: #777;
}

.login__registerBtn__button{
  font-size: 1.4rem;
  padding: 1rem 5rem;
  height: 6rem;
}

@media only screen and (max-width: 1000px) {
  .login{
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20vh 5vh 40vh;
  }

}
