html{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 3rem;
}

body{
  font-size: 1.6rem;
}

.blueButton{
  font-family: 'Poppins', sans-serif;
  background-color: #00b0ff;
  color: white;
  border-radius: 2.5rem;
  border: none;
}
